*{
  margin: 5px;
}
  .books{
    border-radius: 5px;
    padding-top: 8px;
  }
  .book-img img{
    width: 330px;
    height: 500px;
  }
  .book-description p{
    text-align: justify;
    padding: 5px 10px 10px 10px;
    font-weight: 500;
    font-size: large;
    margin-top: 20px;
  }
  .container{
    align-items: center;
    justify-content: center;
    text-align: center;
    display:block;
  }
  .online-sites{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-top: 30px;
  }
  .online-sites ul{
    display: flex;
    gap: 50px;
  }
  .online-sites ul a{
    position: relative;
    font-size: 40px;
    height: 60px;
    width: 60px;
    padding: 0;
    line-height: 60px;
    border-radius: 50%;
    margin: 0px;
  }
  .online-sites ul a:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
  }
  .online-sites ul a:hover:before{
    transform: scale(1.0);
  }
  .online-sites ul a:nth-child(1):hover{
    transform: scale(1.1);
    filter: drop-shadow(5px 5px 8px #1a1a1a);
  }
  .online-sites ul a:nth-child(2):hover{
    transform: scale(1.1);
    filter: drop-shadow(5px 5px 8px #e3d809);
  }
  .online-sites ul a:nth-child(3):hover{
    transform: scale(1.1);
    filter: drop-shadow(5px 5px 8px #ff0303);
  }
  .social-icons{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    margin-top: 30px;
    gap: 0;
  }
  .social-icons ul{
    display: flex;
    gap: 40px;
  }
  .social-icons ul a{
    position: relative;
    display: block;
    color:#f711d8 ;
    font-size: 40px;
    height: 60px;
    width: 60px;
    padding: 0;
    border-radius: 50%;
    margin: 0px;
    transition: .5s;
  }
  .social-icons ul a:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    border-radius: 50%;
    transform: scale(.9);
    z-index: -1;
    transition: .5s;
  }
  .social-icons ul a:hover:before{
    filter: blur(3px);
    transform: scale(1.0);
  }
  .social-icons ul a:nth-child(1):hover{
    transform: scale(1.3);
  }
  #material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    display: flex;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    padding-bottom: 30px;
  }
  #material-icons:hover{
    transition: .5s;
    transform: scale(1.3);
  }
  .back{
    margin: 10px;             
    padding: 20px;            
    text-align: center; 
    top: 0; 
    display:block;  
}
.back a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: darkblue;
    margin-left: 25px;
}